<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>BMI Calculator</title>
    <link rel="icon" type="image/x-icon" href="assets/gym_icon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.2.2/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="assets/style_default.css"/>
</head>
<body>
<div class="container">
    <h1>BMI Calculator</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">BMI:</h5>
            <p th:text="${bmi}"></p>
        </div>
    </div>
    <div class="btn-back">
        <a th:href="@{/}" class="btn">Go Back to the Main Page</a>
    </div>
</div>
</body>
</html>
