<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error Page!</title>
    <link rel="icon" type="image/x-icon" th:href="@{images/gym_icon.ico}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{styles.css}"/>
</head>
<body>
<div class="container">
    <h1>Something went wrong!</h1>
    <b>
        <span th:if="${errorMessage}" th:text="${errorMessage}" class="error-message">Error</span>
    </b>
    <img th:src="@{/images/error_png.png}" alt="error_png"/>
    <p class="btn-back">
        <a th:href="@{/}" class="btn btn-info" role="button">Go back to the main page</a>
    </p>
</div>
</body>
</html>