<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: boots_trap}">
    <title>Error Page!</title>
</head>
<body>
<div class="container">
    <h1>Something went wrong!</h1>
    <b>
        <span th:if="${errorMessage}" th:text="${errorMessage}" class="error-message">Error</span>
    </b>
    <div>
        <img th:src="@{/images/error_png.png}" alt="error_png" src=""/>
    </div>
    <div>
        <p class="btn-back">
            <a th:href="@{/}" class="btn btn-info" role="button">Go back to the main page</a>
        </p>
    </div>
</div>
</body>
</html>