<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: boots_trap}">>
    <title>Error</title>
</head>
<body>
<div class="container col-md-offset-3 col-md-8 mt-lg-5">
    <div th:replace="~{fragments :: nav_bar}"></div>

    <div class="row mt-2">
        <div th:if="${param.invalid}" class="col-sm-8">
            <p class="alert alert-danger">Invalid verification token</p>
        </div>

        <div th:if="${param.expired}" class="col-sm-8">
            <p class="alert alert-info">This verification link has already expired.</p>
        </div>
    </div>
    <a href="#" th:href="@{/}">Go back to the main page</a>
</div>
</body>
</html>
