<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: boots_trap}">
    <title>Food Search</title>
</head>
<body>
<div class="container col-md-offset-3 col-md-8 mt-lg-5">
    <div th:replace="~{fragments :: nav_bar}"></div>
    <div class="row mt-2">
        <div th:if="${param.error}" class=" alert alert-info">
            Your product was not found, please try again!
        </div>
        <div th:if="${param.success}" class="col-sm-8">
            <p class="alert alert-info">Success! Keep it up!</p>
        </div>
    </div>
    <div class="container">
        <h1><strong>Food Search</strong></h1>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Search for Food</strong></h5>
                        <form method="GET" th:action="@{/food/details}">
                            <div class="form-group">
                                <label for="query">Example: 150g of Lays</label>
                                <input type="text" id="query" name="query" required class="form-control">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </form>
                    </div>
                </div>
                <div class="mt-3">
                    <form method="GET" th:action="@{/food/all-products}" th:fragment="productListForm">
                        <button type="submit" class="btn btn-secondary">Load your meal</button>
                    </form>
                </div>
                <div class="mt-3">
                    <form method="GET" th:action="@{/food/remover}">
                        <button type="submit" class="btn btn-danger">Delete your meal</button>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Food Details</h5>
                        <div th:if="${foodDTO}">
                            <strong>Name:</strong> <span th:text="${foodDTO.name}"></span><br>
                            <strong>Serving Size:</strong> <span th:text="${foodDTO.servingSizeG}"></span><br>
                            <strong>Calories:</strong> <span th:text="${foodDTO.calories}"></span><br>
                            <strong>Protein:</strong> <span th:text="${foodDTO.proteinG}"></span><br>
                            <strong>Carbohydrates:</strong> <span th:text="${foodDTO.carbohydratesTotalG}"></span><br>
                            <strong>Fat:</strong> <span th:text="${foodDTO.fatTotalG}"></span><br>
                            <strong> </strong> <span> </span><br>
                            <strong>Fiber:</strong> <span th:text="${foodDTO.fiberG}"></span><br>
                            <strong>Sugar:</strong> <span th:text="${foodDTO.sugarG}"></span><br>
                            <strong>Saturated Fat:</strong> <span th:text="${foodDTO.fatSaturatedG}"></span><br>
                            <strong>Cholesterol:</strong> <span th:text="${foodDTO.cholesterolMg}"></span><br>
                            <strong>Sodium:</strong> <span th:text="${foodDTO.sodiumMg}"></span><br>
                            <strong>Potassium:</strong> <span th:text="${foodDTO.potassiumMg}"></span><br>
                            <form method="POST" th:action="@{/food/new-details}">
                                <input type="hidden" th:value="${foodDTO.name}" name="name"/>
                                <input type="hidden" th:value="${foodDTO.calories}" name="calories"/>
                                 <input type="hidden" th:value="${foodDTO.servingSizeG}" name="servingSizeG"/>
                                <input type="hidden" th:value="${foodDTO.fatTotalG}" name="fatTotalG"/>
                                 <input type="hidden" th:value="${foodDTO.fatSaturatedG}" name="fatSaturatedG"/>
                                <input type="hidden" th:value="${foodDTO.proteinG}" name="proteinG"/>
                                <input type="hidden" th:value="${foodDTO.sodiumMg}" name="sodiumMg"/>
                                <input type="hidden" th:value="${foodDTO.potassiumMg}" name="potassiumMg"/>
                                <input type="hidden" th:value="${foodDTO.cholesterolMg}" name="cholesterolMg"/>
                                <input type="hidden" th:value="${foodDTO.carbohydratesTotalG}" name="carbohydratesTotalG"/>
                                <input type="hidden" th:value="${foodDTO.fiberG}" name="fiberG"/>
                                <input type="hidden" th:value="${foodDTO.sugarG}" name="sugarG"/>
                                <br>
                                <button type="submit" class="btn btn-success">Save Product</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${allProducts}" th:fragment="productList">
            <h3><br>All Products</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Name:</th>
                    <th>Serving Size</th>
                    <th>Calories</th>
                    <th>Protein</th>
                    <th>Carbohydrates</th>
                    <th>Fat Total</th>
                    <th>Fiber</th>
                    <th>Sugar</th>
                    <th>Fat Saturated</th>
                    <th>Cholesterol</th>
                    <th>Sodium</th>
                    <th>Potassium</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>Total:</strong></td>
                    <td th:text="${totalServingSize}"></td>
                    <td th:text="${totalCalories}"></td>
                    <td th:text="${totalProtein}"></td>
                    <td th:text="${totalCarbohydrates}"></td>
                    <td th:text="${totalFatTotal}"></td>
                    <td th:text="${totalFiber}"></td>
                    <td th:text="${totalSugar}"></td>
                    <td th:text="${totalFatSaturated}"></td>
                    <td th:text="${totalCholesterol}"></td>
                    <td th:text="${totalSodium}"></td>
                    <td th:text="${totalPotassium}"></td>
                </tr>
                <tr th:each="product : ${allProducts}">
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.servingSizeG}"></td>
                    <td th:text="${product.calories}"></td>
                    <td th:text="${product.proteinG}"></td>
                    <td th:text="${product.carbohydratesTotalG}"></td>
                    <td th:text="${product.fatTotalG}"></td>
                    <td th:text="${product.fiberG}"></td>
                    <td th:text="${product.sugarG}"></td>
                    <td th:text="${product.fatSaturatedG}"></td>
                    <td th:text="${product.cholesterolMg}"></td>
                    <td th:text="${product.sodiumMg}"></td>
                    <td th:text="${product.potassiumMg}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="btn-back">
            <a th:href="@{/}" class="btn btn-info">Go Back to the Main Page</a>
        </div>
    </div>
</div>
</body>
</html>