<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: boots_trap}">
    <title>Macronutrients Calculator</title>
</head>
<body>
<div class="container col-md-offset-3 col-md-8 mt-lg-5">
    <div th:replace="~{fragments :: nav_bar}"></div>
<div class="container">
    <h1><strong>Macronutrients Calculator</strong></h1>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title"><strong>Calculate Macronutrients</strong></h3>
            <form method="GET" th:action="@{/macronutrients/{activityLevel}}" th:object="${activityLevel}">
                <div class="form-group">
                    <label for="activityLevel">Activity Level:</label>
                    <select class="form-control" id="activityLevel" name="activityLevel">
                        <option th:value="SEDENTARY">Sedentary - Little or no exercise</option>
                        <option th:value="LIGHTLY_ACTIVE">Lightly Active - Light exercise 1-3 times/week</option>
                        <option th:value="MODERATELY_ACTIVE">Moderately Active - Exercise 3 times/week</option>
                        <option th:value="ACTIVE">Active - Intense exercise 4-5 times/week</option>
                        <option th:value="VERY_ACTIVE">Very Active - Very intense exercise daily or physical job</option>
                    </select>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Calculate</button>
            </form>
        </div>
    </div>
    <div class="card" th:if="${macro != null}">
        <div class="card-body">
            <h3 class="card-title">Your Macronutrients:</h3>
            <ul class="macro-list">
                <li><strong>Protein:</strong> <span th:text="${macro.protein}"></span></li>
                <li><strong>Carbohydrates:</strong> <span th:text="${macro.carbohydrates}"></span></li>
                <li><strong>Fat:</strong> <span th:text="${macro.fats}"></span></li>
                <li><strong>Total kcal of macronutrients: </strong> <span th:text="${macro.bmr}"></span></li>
            </ul>
        </div>
    </div>
    <div class="btn-back">
        <a th:href="@{/}" class="btn btn-info">Go Back to the Main Page</a>
    </div>
</div>
</div>
</body>
</html>
