<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>User Profile</title>
    <link rel="icon" type="image/x-icon" href="assets/gym_icon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.2.2/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="assets/style_default.css"/>
</head>
<body>
<div class="container">
    <h1>User Profile</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Name: <span th:text="${userProfile.name}"></span></h5>
            <h5 class="card-title">Surname: <span th:text="${userProfile.surname}"></span></h5>
            <h5 class="card-title">Phone: <span th:text="${userProfile.phone}"></span></h5>
            <h5 class="card-title">Age: <span th:text="${userProfile.age}"></span></h5>
            <h5 class="card-title">Sex: <span th:text="${userProfile.sex}"></span></h5>
            <h5 class="card-title">Weight: <span th:text="${userProfile.weight}"></span></h5>
            <h5 class="card-title">Height: <span th:text="${userProfile.height}"></span></h5>
            <h5 class="card-title">Diet Goal: <span th:text="${userProfile.dietGoal.dietGoal}"></span></h5>
        </div>
    </div>
    <div class="btn-back">
        <a href="/" class="btn">Go Back to the Main Page</a>
    </div>
</div>
</body>
</html>
