<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragments :: boots_trap}">
    <title>Fitness Tips</title>
</head>
<body>
<div class="container col-md-offset-3 col-md-8 mt-lg-5">
    <div th:replace="~{fragments :: nav_bar}"></div>
<div class="container">
    <h1>Fitness Tips</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Diet goal:</h5>
            <p th:text="${dietGoal}"></p>
            <h5 class="card-title">Tip:</h5>
            <p th:text="${tip}"></p>
        </div>
    </div>
    <div class="btn-back">
        <a th:href="@{/}" class="btn btn-info">Go Back to the Main Page</a>
    </div>
</div>
</div>
</body>
</html>
