<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragments :: boots_trap}">
    <title>Update User</title>
</head>
<body>
<div class="container col-md-offset-3 col-md-8 mt-lg-5 mb-md-5">
    <div th:replace="~{fragments :: nav_bar}"></div>
    <h2 class="m-4">Edit User</h2>
    <form th:action="@{/users/updates/{userId}(userId=${user.userId})}" method="post" th:object="${user}" class="px-4">
        <input type="hidden" th:field="*{userId}">
        <div class="mb-3 row">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-6">
                <input type="text" id="username" autofocus="autofocus"
                       class="form-control" required name="username" th:field="*{username}">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-6">
                <input type="text" id="email" autofocus="autofocus"
                       class="form-control" required name="email" th:field="*{email}">
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-success">Update User</button>
        </div>
    </form>
</div>
</body>
</html>
