<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: boots_trap}">
    <title>User Profile</title>
</head>
<body>
<div class="container col-md-offset-3 col-md-8 mt-lg-5">
    <div th:replace="~{fragments :: nav_bar}"></div>
    <div class="row mt-2">
        <div th:if="${param.success}" class="alert alert-info">
            Saving new data successful!
        </div>
    </div>
    <div class="container">
        <h2>User Profile</h2>
        <br>
        <div th:if="${imageBase64}">
            <img th:src="${'data:image/png;charset=utf-8;base64,' + imageBase64}" alt="Profile Photo" class="img-fluid">
        </div>
        <div th:if="${userProfile}">
            <br>
            <p><strong>Name:</strong> <span th:text="${userProfile.name}"></span></p>
            <p><strong>Surname:</strong> <span th:text="${userProfile.surname}"></span></p>
            <p><strong>Phone:</strong> <span th:text="${userProfile.phone}"></span></p>
            <p><strong>Age:</strong> <span th:text="${userProfile.age}"></span></p>
            <p><strong>Sex:</strong> <span th:text="${userProfile.sex}"></span></p>
            <p><strong>Weight:</strong> <span th:text="${userProfile.weight}"></span></p>
            <p><strong>Height:</strong> <span th:text="${userProfile.height}"></span></p>
            <p><strong>Diet Goals:</strong> <span th:text="${userProfile.dietGoal.dietGoal}"></span></p>
        </div>
        <form th:action="@{/user-profile/new-user-profile-data}" method="post" enctype="multipart/form-data" id="userProfileForm">
            <div class="form-group">
                <label for="name"><strong>Name:</strong></label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="surname"><strong>Surname:</strong></label>
                <input type="text" class="form-control" id="surname" name="surname">
            </div>
            <div class="form-group">
                <label for="phone"><strong>Phone Number:</strong> (Pattern: +xx xxx xxx xxx)</label>
                <input type="text" class="form-control" id="phone" name="phone">
            </div>
            <div class="form-group">
                <label for="age"><strong>Age:</strong></label>
                <input type="number" class="form-control" id="age" name="age">
            </div>
            <div class="form-group">
                <label for="sex"><strong>Sex:</strong></label>
                <select class="form-control" id="sex" name="sex">
                    <option value="MALE">MALE</option>
                    <option value="FEMALE">FEMALE</option>
                </select>
            </div>
            <div class="form-group">
                <label for="weight"><strong>Weight (</strong>in kilograms):</label>
                <input type="number" step="0.1" class="form-control" id="weight" name="weight">
            </div>
            <div class="form-group">
                <label for="height"><strong>Height (</strong>in meters):</label>
                <input type="number" step="0.01" class="form-control" id="height" name="height">
            </div>
            <div class="form-group">
                <label for="dietGoalId"><strong>Diet Goals</strong>:</label>
                <select class="form-control" id="dietGoalId" name="dietGoalId">
                    <option value="1">MUSCLE BUILDING</option>
                    <option value="2">FAT LOSS</option>
                    <option value="3">WEIGHT MAINTENANCE</option>
                </select>
            </div>
            <div class="form-group">
                <label for="file"><strong>Profile Photo:</strong></label>
                <input type="file" class="form-control" id="file" name="file">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <br>
        <form th:action="@{/user-profile/data}" method="get" id="getUserDataForm">
            <button type="submit" class="btn btn-primary">Get Profile</button>
            <br>
        </form>
        <div class="btn-back">
            <a th:href="@{/}" class="btn btn-info">Go Back to the Main Page</a>
        </div>
    </div>
</div>
</body>
</html>
